.product-page__title {
    margin-bottom: var(--space-xl);

    text-align: center;

    color: var(--marron-oscuro);

    font-family: var(--font-arapey);
}

.product-page__content {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: var(--space-2xl);

    align-items: start;
}

@media (max-width: 768px) {
    .product-page__content {
        grid-template-columns: 1fr;
    }
}