.category-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: var(--space-xl);
}

@media (max-width: 992px) {
    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .category-grid {
        grid-template-columns: 1fr;
    }
}