.product-card__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-card {
    overflow: hidden;
}

.product-card__image {
    width: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;
}

.product-card__content {
    padding: var(--space-lg);

    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.product-card__title {
    color: var(--texto);
    font-size: 1.1rem;
}

.product-card__price {
    color: var(--color-primary);
    font-weight: 600;
}