/* Reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Documento */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* Multimedia */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Formularios */

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Enlaces */

a {
    color: inherit;
    text-decoration: none;
}

/* Listas */

ul,
ol {
    list-style: none;
}