

.product-info {
    display: flex;
    flex-direction: column;

    gap: var(--space-lg);
}

.product-info__category {
    color: var(--color-primary-light);

    font-weight: 600;
}

.product-info__description {
    line-height: 1.8;
}

.product-info__price {
    color: var(--color-primary);

    font-size: 2rem;
    font-weight: bold;
}

.product-info__stock {
    font-weight: 600;
}

.available {
    color: #4caf50;
}

.unavailable {
    color: #d32f2f;
}

.product-info__quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-info__quantity button {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: var(--radius-sm);

    cursor: pointer;
}